<div class="heading text-center">

<h1>Harlin Minhas</h1>
</div>

<p>Hello, and welcome to my IT portfolio. I'm Harlin Minhas, a passionate IT student dedicated to mastering various aspects of technology. This portfolio represents my journey through IT, showcasing my skills, projects, and experiences. 
    I am actively seeking opportunities to further my knowledge and contribute to exciting IT projects.</p>

<section id="skills">
        <h2>Skills</h2>
        <h3>Technical Skills</h3>
        <ul>
            <li>Programming Languages: Python, Java, C++</li>
            <li>Web Development: HTML, CSS, JavaScript</li>
            <li>Database Management: SQL, MySQL</li>
            
        </ul>
        <h3>Soft Skills</h3>
        <ul>
            <li>Problem-solving</li>
            <li>Teamwork and collaboration</li>
            <li>Communication</li>
            
        </ul>
    </section>

    




