
<header>
        <h1>My Projects</h1>
</header>

    <div class="project-container">
        <!-- Project 1 -->
        <div class="project-card">
            <img src="https://tse2.mm.bing.net/th?id=OIP.Dz_CWTphzwkzAk89IRZtzAHaEc&pid=Api&P=0&h=180" alt="Project 1">
            <h2>Swift Project</h2>
            <p>Calculating the generic function to swap contents.Sum and average of the integar array and demonstrate the function as well as to calculate the temperate of the day.</p>
            <a href="project1.html">Learn More</a>
        </div>

        <!-- Project 2 -->
        <div class="project-card">
            <img src="https://tse3.mm.bing.net/th?id=OIP.Fyxpjn4kmefJRD31lBfFXwHaFP&pid=Api&P=0&h=180" alt="Project 2">
            <h2>Javascript Project</h2>
            <p>To calculate node.js calculator for the math operation to run Possible values for the method parameter
                 like "add", "subtract", "multiply", and "divide" and If the method value is anything else, show an error message</p>

            <a href="project2.html">Learn More</a>
        </div>

        <!-- Project 3 -->
        <div class="project-card">
            <img src="https://tse1.mm.bing.net/th?id=OIP.z9mSOG1MTfrypBs4waOYCQHaEK&pid=Api&P=0&h=180" alt="Project 3">
            <h2>C++ Project</h2>
            <p>• The equation is:ΔG°=RTlnK Where lnK is -6.45.
            Task was to Implement the codes needed to take the parameter inputs fromthe user and outputs the gibs free energy ( ΔG°) value..</p>
            <a href="project3.html">Learn More</a>
        </div>
    </div>




